.CJ_main {
	position: relative;
	padding-top: 0.075rem;
	box-sizing: border-box;
}

.CJ_main .CJ_map {
	width: 100%;
	height: 100%;
}

.sort_menu {
	display: none;
	position: absolute;
	left: 0.06rem;
	top: 0.075rem;
}

.sort_menu li {
	background: rgba(10, 16, 18, 0.7);
	height: 0.26rem;
	line-height: 0.268rem;
	border: 0.01rem solid transparent;
	color: #65fff1;
	font-size: 0.11rem;
	width: 1.125rem;
	box-sizing: border-box;
	position: relative;
	background-image: url(../imgs/next/check.png);
	background-repeat: no-repeat;
	background-position: 0.045rem center;
	background-size: 0.17rem 0.17rem;
}

.sort_menu li:nth-child(1) {
	font-size: 0.13rem;
	color: #43a8a1;
	height: 0.295rem;
	line-height: 0.285rem;
	border-bottom-color: rgba(153, 245, 255, 0.2);
	padding-left: 0.1rem;
	background-image: none;
}

.sort_menu li label {
	padding-left: 0.23rem;
	display: block;
	width: 100%;
	height: 100%;
	box-sizing: border-box;
}

.sort_menu li input {
	position: absolute;
	visibility: hidden;
	vertical-align: middle;
}

.sort_menu li.sel {
	background-image: url(../imgs/next/check_sel.png);
}

.scroll_list {
	position: absolute;
	/*right: 0.625rem;*/
	right: 0rem;
	top: 0;
	padding-top: 0.075rem;
	width: 15.35rem;
	height: 0.88rem;
	background: rgba(10, 16, 18, 0.87);
	/*background: url(../imgs/next/scroll_list.png) no-repeat center center / 100% 100%;*/
}

.scroll_list li {
	float: left;
	width: 1.71rem;
	height: 100%;
	background: rgba(153, 245, 255, 0.05);
	margin-right: 0.12rem;
	border: 0.015rem solid transparent;
	box-sizing: border-box;
	cursor: pointer;
}

.scroll_list li:last-child {
	margin-right: 0;
}

.scroll_list li.sel {
	border-color: rgba(153, 245, 255, 0.5);
	box-shadow: 0 0 0.2rem rgba(0, 198, 255, 0.3), 0 0 0.2rem rgba(0, 198, 255, 0.3) inset;
	position: relative;
}

.scroll_list li.sel:after {
	content: '';
	display: block;
	position: absolute;
	width: 0.15rem;
	height: 0.15rem;
	left: -0.015rem;
	top: -0.015rem;
	left: 0;
	top: 0;
	transform: translate(-0.01rem, -0.01rem);
	border: 0.015rem solid #99f5ff;
	border-right-color: transparent;
	border-bottom-color: transparent;
}

.scroll_list li.sel:before {
	content: '';
	display: block;
	position: absolute;
	width: 0.15rem;
	height: 0.15rem;
	/*right: -0.015rem;
	bottom: -0.015rem;*/
	right: 0;
	bottom: 0;
	transform: translate(0.01rem, 0.01rem);
	border: 0.015rem solid #99f5ff;
	border-left-color: transparent;
	border-top-color: transparent;
}

.scroll_list li .icon {
	width: 0.465rem;
	height: 0.465rem;
	background: url("../imgs/cbd.png") no-repeat center center/100% 100%;
	margin: 0.1rem 0;
	margin-left: 0.12rem;
}

.scroll_list li .info {
	width: 0.97rem;
	height: 100%;
	text-align: left;
	margin-left: 0.1rem;
	box-sizing: border-box;
	padding-top: 0.1rem;
}

.scroll_list li .info h4 {
	color: #65fff1;
	font-size: 0.13rem;
	padding-bottom: 0.05rem;
	width: 0.85rem;
	text-overflow: ellipsis;
	white-space: nowrap;
	overflow: hidden;
}

.work_main {
	height: 0.08rem;
	padding-bottom: 0.1rem;
	line-height: 0.1rem;
}

.work_main .work_all {
	width: 0.54rem;
	height: 0.05rem;
	background: #51c7bd;
	border-radius: 0.025rem;
	overflow: hidden;
	display: inline-block;
	vertical-align: middle;
	margin-top: -0.02rem;
}

.work_main> span {
	font-size: 0.13rem;
	color: #51c5d1;
	vertical-align: middle;
}

.scroll_list li .info p {
	color: #bcb849;
	font-size: 0.15rem;
	font-family: 'HelveticaNeueLTStd-Lt';
}

.scroll_list li .info p i {
	display: inline-block;
	width: 0.12rem;
	height: 0.12rem;
	margin-right: 0.04rem;
	background: url("../imgs/user.png") no-repeat center center/100% 100%;
}

.work_main .work_all .work_now {
	display: inline-block;
	background: #5191c7;
	width: 44.4%;
	height: 100%;
	vertical-align: top;
}

.scroll_list> i {
	float: left;
	width: 0.315rem;
	height: 100%;
	background: url(../imgs/next/left.png) no-repeat center center / 0.16rem auto;
	cursor: pointer;
}

.scroll_list> i.dis {
	background: url(../imgs/next/left_dis.png) no-repeat center center / 0.16rem auto;
}

.scroll_list> i.scroll_r {
	transform: rotate(180deg);
}

.scroll_main {
	width: 14.6rem;
	overflow: hidden;
	height: 0.68rem;
	padding: 0.1rem 0;
	float: left;
}

.scroll_main ul {
	width: 14.205rem;
	height: 100%;
	transition: transform 0.5s linear;
	transform: matrix(1, 0, 0, 1, 0, 0);
}

.user_set_area {
	position: absolute;
	left: 0rem;
	top: 1.03rem;
	width: 3.4rem;
	height: 2rem;
	background: rgba(10, 16, 18, 0.87);
	padding-bottom: 0.05rem;
}

.user_set_area h4 {
	line-height: 0.26rem;
	height: 0.26rem;
	font-size: 0.13rem;
	color: #43a8a1;
	border-bottom: 0.01rem solid rgba(153, 245, 255, 0.2);
	padding: 0 0.22rem;
}

.user_set_area span {
	display: inline-block;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
	padding-top: 0.03rem;
}

.user_set_area ul {
	line-height: 0.24rem;
	font-size: 0.13rem;
	color: #65fff1;
	padding: 0 0.22rem;
}

.user_set_area ul li {
	height: 0.24rem;
	cursor: pointer;
	white-space: nowrap;
}

.user_set_area ul li span:nth-child(1),
.user_set_area h4 span:nth-child(1) {
	width: 1rem;
}

.user_set_area ul li span:nth-child(2),
.user_set_area h4 span:nth-child(2) {
	width: 1.07rem;
}

.im_area {
	position: absolute;
	right: 0;
	top: 1.03rem;
	background: rgba(10, 16, 18, 0.87);
	overflow: hidden;
	height: 0.94rem;
	padding: 0.15rem;
}

.im_area> div {
	height: 100%;
	float: left;
	background-color: rgba(178, 247, 255, 0.06);
	cursor: pointer;
}

.im_area>#cjadd{
	cursor: pointer;
}

.im_area> .li_area {
	width: 1rem;
	margin-right: 0.07rem;
	position: relative;
	text-align: center;
}

.im_area #cjadd .add {
	width: 0.42rem;
	height: 0.42rem;
	background-image: url("../imgs/addMore.png");
	background-repeat: no-repeat;
	background-position: center center;
	background-size: 0.14rem 0.14rem;
	margin-top: 0.25rem;
}

.li_area .cancel {
	width: 0.1rem;
	height: 0.1rem;
	display: inline-block;
	background: url("../imgs/cancel.png") no-repeat center center/100% 100%;
	position: absolute;
	right: 0.01rem;
	top: 0.01rem;
	z-index: 999;
	cursor: pointer;
}

.li_area .cancelbox {
	background-color: rgba(38, 66, 70, 1);
}

.li_area .icon_bg {
	width: 0.65rem;
	height: 0.45rem;
	display: inline-block;
	background: url("../imgs/outRing.png") no-repeat center center/100% 100%;
	margin-top: 0.04rem;
}

.li_area .icon {
	width: 0.4rem;
	height: 0.25rem;
	display: inline-block;
	background: url("../imgs/tecent.png") no-repeat center center/ auto 100%;
	position: absolute;
	top: 0.2rem;
	left: 0.3rem;
}

.li_area h4 {
	color: #b6fff8;
	font-size: 0.13rem;
	margin-top: -0.1rem;
	width: 1rem;
	text-overflow: ellipsis;
	white-space: nowrap;
	overflow: hidden;
	margin-top: 0rem;
}

.li_area .work_all {
	width: 0.48rem;
	height: 0.06rem;
	border-radius: 0.03rem;
	background: #51c7bd;
	overflow: hidden;
	margin: auto;
}

.li_area .work_all .work_now {
	width: 33%;
	background: #5191c7;
	height: 100%;
}

.li_area .work_text {
	font-size: 0.11rem;
	color: #51c5d1;
}

.li_area .user_num {
	font-size: 0.13rem;
	color: #bcb849;
}

.li_area .user_num i {
	width: 0.1rem;
	height: 0.1rem;
	display: inline-block;
	margin-right: 0.03rem;
	background: url("../imgs/user.png") no-repeat center center/100% 100%;
}

.user_set_area span .work_all {
	margin-right: 0.06rem;
}


/*map*/

.map-red {
	background: rgb(251, 40, 12);
	width: 0.1rem !important;
	height: 0.1rem !important;
	border-radius: 0.8rem;
	border: 1px solid #a51603;
	box-sizing: border-box;
}

.map-green {
	background: rgb(9, 208, 4);
	width: 0.1rem !important;
	height: 0.1rem !important;
	border-radius: 0.8rem;
	border: 1px solid #057e01;
	box-sizing: border-box;
}

.map-yellow {
	background: rgb(183, 156, 25);
	width: 0.1rem !important;
	height: 0.1rem !important;
	border-radius: 0.8rem;
	border: 1px solid #897309;
	box-sizing: border-box;
}

#map img {
	/*-webkit-filter: brightness(1.2) grayscale(1) contrast(1) opacity(.9) invert(.8) saturate(2);*/
	/*filter: brightness(1.2) grayscale(1) contrast(1) opacity(.9) invert(.8) saturate(2);*/
	 -webkit-filter:brightness(0.8);
	filter:brightness(0.8);
	border:none !important;
	width:257px !important;
	height:257px !important;
}

.leaflet-control-zoom {
	display: none;
}

.leaflet-control-attribution.leaflet-control{
	display: none !important;
}

.CJ_main .wybox {
	position: absolute;
	bottom: 0;
	left: 0;
}

.area_list {
	height: 1.73rem;
	overflow: hidden;
	width: 100%;
}

.area_list .scroll_container {
	overflow: hidden;
	position: relative;
}
.area_list .scroll_absolute {
    position: absolute;
}
.area_list .scroll_vertical_bar {
    position: absolute;
    top: 0;
    right: 0;
	/*width: 0.135rem;
	margin-left: 0.09rem;
    height: 100%;*/
    margin: 0;
    padding: 0;
}

.area_list .scroll_track {
	position: relative;
	width: 0.06rem;
}

.area_list .scroll_drag {
	position: relative;
	top: 0;
	left: 0;
	cursor: pointer;
	background-color: #43a79f;
	border-radius: 0.07rem;
	/*border:0.005rem solid #27393b;
 	box-sizing: border-box;*/
 	margin-right: 0.01rem;
}

.area_list .scroll_arrow {
	text-indent: -20000px;
	display: block;
	cursor: pointer;
	background-color: #369DB4;
}

.area_list .scroll_vertical_bar .scroll_arrow {
    height: 16px;
}


































/*增加删除功能*/
/*点击删除遮罩层*/
body .CJ_main .cancle_shaow{
	position: absolute;
	width:19.3rem ;
	height: 10.8rem;
	z-index: 1000;
	left: -3.5rem;
	top: -1.225rem;
	background: rgba(255,255,255,0);
}

/*点击删除出现弹出框*/
body .CJ_main .cancle_choose{
	position: absolute;
	width:2.85rem ;
	height: 1.47rem;
	background:  rgba(39, 54, 59, 0.98);
	z-index: 1001;
	left: 6.2rem;
	top: 4rem;
}


.cancle_choose .cc_notice{
	height: 0.25rem;
	padding-left: 0.1rem;
	font-size: 0.13rem;
	line-height: 0.25rem;
	color: #96eadd;
	border-bottom: solid 0.01rem #435d5e;
}

.cancle_choose .cc_canclebox{
	width: 0.25rem;
	height:0.2rem;
	background: rgba(48, 62, 65, 1);
	margin-left: 2.5rem;
	margin-top: -0.25rem;
	cursor: pointer;
}

.cancle_choose .cc_cancle{
	background: rgba(0, 0, 0, 0) url("../imgs/cancel.png") no-repeat scroll center center / 100% 100%;
    display: inline-block;
    height: 0.11rem;
    position: absolute;
    right: 0.06rem;
    top: 0.065rem;
    width: 0.11rem;
    z-index: 10002;
}

.cancle_choose .cc_pic{
	width: 0.34rem;
	height: 0.275;
	float: left;
	margin-left: 0.41rem;
	margin-top: 0.16rem;
}

.cancle_choose .cc_pic img{
	width: 0.34rem;
	height: 0.275;
}

.cancle_choose .cc_txt{
	width: 0.9rem;
	height:0.275rem;
	font-size: 0.12rem;
	color: #59c5b8;
	margin-left: 0.1rem;
	float: left;
	margin-top: 0.16rem;
}

.cancle_choose .cc_qr{
	background: none;
	width: 0.59rem;
	height: 0.19rem;
	line-height: 0.09rem;
	float: left;
	border: solid 0.005rem #82c8be;
	border-radius: 0.05rem;
	font-size: 0.13rem;
	color: #59c5b8;
	text-align: center;
	margin-top: 0.435rem;
	margin-left: -0.95rem;
	cursor: pointer;
}

.cancle_choose .cc_qx{
	background: none;
	width: 0.61rem;
	height: 0.21rem;
	line-height: 0.19rem;
	float: left;
	border: none;
	border-radius: 0.05rem;
	font-size: 0.13rem;
	color: #59c5b8;
	text-align: center;
	background: #2c3f46;
	margin-top: 0.435rem;
	margin-left: -0.2rem;
	cursor: pointer;
}

body .add_choose{
	position: absolute;
	width:4.05rem ;
	height: 2.18rem;
	background:  rgba(39, 54, 59, 0.98);
	z-index: 1001;
	left: 5.65rem;
	top: 3.5rem;
}

body .spadd_choose{
	left: 13.45rem;
}

.add_choose .add_notice{
	height: 0.25rem;
	padding-left: 0.1rem;
	font-size: 0.13rem;
	line-height: 0.25rem;
	color: #96eadd;
	border-bottom: solid 0.01rem #435d5e;
}

.add_choose .add_cjbox{
	width: 4.05rem;
	height: 1.345rem;
}

.add_choose .add_canclebox{
	width: 0.25rem;
	height:0.2rem;
	background: rgba(48, 62, 65, 1);
	margin-left: 3.7rem;
	margin-top: -0.25rem;
	cursor: pointer;
}

.add_choose .add_cancle{
	background: rgba(0, 0, 0, 0) url("../imgs/cancel.png") no-repeat scroll center center / 100% 100%;
    display: inline-block;
    height: 0.11rem;
    position: absolute;
    right: 0.06rem;
    top: 0.065rem;
    width: 0.11rem;
    z-index: 10002;
}

.add_choose .add_style{
	font-size: 0.105rem;
	color: #57c6bf;
	float: left;
	/*padding-left: 0.02rem;*/
}

.containertwo .add_cjclsdd li{
	margin-left: 0.02rem;
}

.add_choose .add_cjlx{
	height: 0.19rem;
	line-height: 0.19rem;
	margin-left: 0.1rem;
	margin-top: 0.14rem;
}

.add_choose .add_cjbox .leftbox{
	width: 1.4rem;
	height: 1rem;
	float: left;
}

.add_choose .add_cjbox .rightbox{
	width: 1.4rem;
	height: 1rem;
	float: left;
}

.add_choose .add_cjname{
	height: 0.18rem;
	line-height: 0.18rem;
	width: 1.15rem;
	border: solid 0.005rem #7faca7;
	padding-left: 0.03rem;
	margin-top: 0.135rem;
	border-right: none;
	overflow: hidden;
	white-space: nowrap;
	background: none;
}

.add_choose .add_search{
	height: 0.18rem;
	width: 0.2rem;
	border: solid 0.005rem #7faca7;
	margin-top: 0.135rem;
	border-left: none;
}

.add_choose .add_search img{
	width: 0.19rem;
	height: 0.18rem;
	
}

.add_choose .add_cjpic{
	width: 0.17rem;
	height: 0.18rem;
	line-height: 0.18rem;
	border: solid 0.005rem #7faca7;
	margin-top: 0.135rem;
	text-align: center;
	cursor: pointer;
}

.add_choose .add_cjpic img{
	width: 0.08rem;
	height: 0.08rem;
	margin-top: 0.04rem;
}

.add_choose .add_cjcls{
	width: 1.37rem;
	padding-left: 0.029rem;

}

.add_choose .add_qr{
	background: none;
	width: 0.59rem;
	height: 0.19rem;
	line-height: 0.09rem;
	float: left;
	border: solid 0.005rem #82c8be;
	border-radius: 0.05rem;
	font-size: 0.13rem;
	color: #59c5b8;
	text-align: center;
	margin-left: 1.435rem;
	margin-top: 0.2rem;
	cursor: pointer;
}

.add_choose .add_qx{
	background: none;
	width: 0.61rem;
	height: 0.21rem;
	line-height: 0.19rem;
	float: left;
	border: none;
	border-radius: 0.05rem;
	font-size: 0.13rem;
	color: #59c5b8;
	text-align: center;
	background: #2c3f46;
	margin-left: 0.09rem;
	margin-top: 0.2rem;
	cursor: pointer;
}

.im_area > .add_active{
	background-image: url("../imgs/add_active.png") !important;
	background-size: 0.42rem 0.94rem !important;
}

.add_choose .add_cjclsdd,{
	width: 1.33rem;
	padding-left: 0.025rem;
}

.add_choose .add_cjcls li,.add_choose .add_cjclsdd li{
	height: 0.2rem;
	line-height: 0.2rem;
	width: 1.27rem;
	cursor: pointer;
}

.add_choose .add_cjcls .everyli,.add_choose .add_cjclsdd .everyli{
	background-image: url(../imgs/add_cj.png);
	background-size: 1.27rem 0.2rem;
}

/*垂直滚动条一*/
.scrollboxone{
	width: 1.37rem; 
	height: 1rem; 
	float: left; 
	margin-top:0px; 
	background: #31454c;
}

.lessfive{
	height: auto;
}

.containerone{
	height: auto;
	float: left;
	margin-left: 0rem;
}

.containerone .scrollone{
	width: 100%;
	height: 0.9rem;
	float: left;
}			


.containerone .scroll_container {
    overflow: hidden;
    position: relative;
}

.containerone .scroll_absolute{
    position: absolute;
    left: 0 !important;
}

.containerone .scroll_vertical_bar {
    position: absolute;
    top: 0;
    right: 0;
    width: 16px;
    height: 100%;
    margin: 0;
    padding: 0;
}

.containerone .scroll_cap {
    display: none;
}


.containerone .scroll_arrow{
	text-indent: -20000px;
	display: block;
	cursor: pointer;
}

.containerone .scroll_vertical_bar .scroll_track{
	position: relative;
	background: none;
	margin-left: 0.09rem;
}

.containerone .scroll_vertical_bar .scroll_drag {
	position: relative;
	top: 0;
	left: 0.03rem;
	cursor: pointer;
	/*background: none;*/
	width: 0.06rem;
	border-radius: 0.03rem;
	/*background: #43a79f;*/
	margin-left: -0.02rem;
	/*border:0.005rem solid #27393b;*/
 	/*box-sizing: border-box;*/
 	background: #43a79f;
}

.containerone .scroll_vertical_bar .scroll_arrow{
	height: 16px;
	background-color: #5807C5;
}


.containerone .scroll_corner {
	float: left;
	height: 100%;
	background-color: #0474EE;
}


/*垂直滚动条二*/
.scrollboxtwo{
	width: 1.37rem; 
	height: 1rem; 
	float: left; 
	margin-top:0px; 
	background: #31454c;
}

.containertwo{
	height: auto;
	margin-left: 0.23rem;
	float: left;
	margin-left: 0rem;
}

.containertwo .scrolltwo{
	width: 100%;
	height: 0.9rem;
	float: left;
}			


.containertwo .scroll_container {
    overflow: hidden;
    position: relative;
}

.containertwo .scroll_absolute{
    position: absolute;
    left: 0 !important;
}

.containertwo .scroll_vertical_bar {
    position: absolute;
    top: 0;
    right: 0;
    width: 16px;
    height: 100%;
    margin: 0;
    padding: 0;
}

.containertwo .scroll_cap{
    display: none;
}


.containertwo .scroll_arrow{
	text-indent: -20000px;
	display: block;
	cursor: pointer;
}

.containertwo .scroll_vertical_bar .scroll_track {
	position: relative;
	background: none;
	margin-left: 0.06rem;
}

.containertwo .scroll_vertical_bar .scroll_drag {
	position: relative;
	top: 0;
	left: 0.03rem;
	cursor: pointer;
	/*background: none;*/
	width: 0.06rem;
	border-radius: 0.03rem;
	/*background: #43a79f;*/
	/*margin-left: 0.09rem;*/
	/*border:0.005rem solid #27393b;
 	box-sizing: border-box;*/
 	background: #43a79f;
	
}


.containertwo .scroll_vertical_bar .scroll_arrow{
	height: 16px;
	background-color: #5807C5;
}

.containertwo .scroll_corner{
	float: left;
	height: 100%;
	background-color: #0474EE;
}

/*p2界面弹出层*/
#cancle_choose {
	display: none;
}

#cancle_choose.cancle_choose {
	display: block;
}

#add_choose {
	display: none;
}

#add_choose.add_choose {
	display: block;
}

.CJ_main .ajcircle{
	width: 0.05rem;
	height: 0.05rem;
	border-radius: 0.05rem;
	/*background: red;*/
}

.myqipao{
	background: url(../imgs/qipao.png);
	background-repeat: no-repeat;
	background-size: 0.435rem 0.705rem;
	width: 0.435rem !important;
	height: 1rem !important;
}

.myqipaoone{
	width: 0.435rem;
	height: 0.2rem;
	float: left;
	position: relative;
	top: 0.13rem;
	text-align: center;
	line-height: 0.2rem;
	font-size: 0.14rem;
	color: #0bc6b5;
	font-family: "HelveticaNeueLTStd-Lt";
}

.myqipaotwo{
	width: 2rem;
	height: 0.2rem;
	float: left;
	top: 0.48rem;
	left: -0.8rem;
	position: relative;
	text-align: center;
	line-height: 0.2rem;
	font-size: 0.14rem;
	color: black;
	font-weight: bold;
	font-family: "方正兰亭细黑_GBK";
}
