/**
 * @description sweet chart组件样式
 * @date 2013/2/18
 * @version 1.0
 */

/* common */
.sweet-chart-texture {
    background-image: url(images/chart/chart_texture.png);
}

.sweet-chart-tools {
    background-color: #B8C7E1;
    color: #3399FF;
}
.sweet-chart-tools-view {
    border-top: 1px solid #FFFFFF;
    background-color: #B8C7E1;
    color: #3399FF;
    position: absolute;
    overflow-y: auto;
    overflow-x: hidden;
    opacity: 1;
    z-index: 1000;
}
.sweet-chart-tools-view-text {
    padding-left: 20px;
    width:30px;
    height: 19px;
    float: left;
    cursor: pointer;
    font-size: 14px;
    padding-top: 4px;
}
.sweet-chart-zoom-in {
    display: block;
    float: left;
    margin-top: 5px;
    height: 18px;
    cursor: pointer;
    width: 16px;
    background: url("images/table/table_ope_icon.png") no-repeat scroll 0px -330px transparent;
}
.sweet-chart-zoom-out {
    display: block;
    float: left;
    margin-top: 5px;
    height: 18px;
    cursor: pointer;
    width: 16px;
    background: url("images/table/table_ope_icon.png") no-repeat scroll 0px -347px transparent;
}
.sweet-chart-tools-zoom-text {
    padding-left: 7px;
    width:30px;
    height: 19px;
    float: left;
    font-size: 14px;
    padding-top: 4px;
}
.sweet-chart-tools-view-image {
    display: block;
    float: left;
    margin-top: 5px;
    height: 18px;
    cursor: pointer;
    width: 16px;
    background: url("images/form/module_icon_bg.png") no-repeat scroll -18px -238px transparent;
}
.sweet-chart-tools-view-image-clicked {
    display: block;
    float: left;
    margin-top: 5px;
    height: 18px;
    cursor: pointer;
    width: 16px;
    background: url("images/form/module_icon_bg.png") no-repeat scroll -18px -63px transparent;
}
.sweet-chart-tools-zoom-image {
    display: block;
    float: left;
    margin-top: 5px;
    height: 18px;
    cursor: pointer;
    margin-left: 9px;
    width: 16px;
    background: url("images/form/module_icon_bg.png") no-repeat scroll -18px -63px transparent;
}
.sweet-chart-tools-view-text:hover {
    color : #0033FF;
}

.sweet-chart-tools-divid-line {
    background: url("images/tabs/first_tab_right_line.png") no-repeat scroll right center transparent;
    cursor: default;
    display: block;
    float: left;
    height: 12px;
    margin-top: 7px;
    width: 3px
}



/* Speedometer begin */
.sweet-chart-speedometer-hover-info {
    position: absolute;
    z-index: 10;
    display: block;
    background-color: #FEFFFF;
    border: 1px solid #D1D2D3;
    padding: 3px;
    box-shadow: 1px 3px 4px gray;
    opacity: 0.8;
}

.sweet-chart-speedometer-hover-info label {
    display: block;
    font-family: Arial,Tahoma,Sans-serif;
    font-size: 12px;
    color: #637BA9;
    padding: 2px;
}
/* Speedometer end */

/* Line start*/
.sweet-widget-chart-line-no-data-div{
    vertical-align: middle;
    position: relative;
}
/*Line end*/

/* topology start */
.sweet-chart-topology-El {
    overflow : hidden;
    position: relative;
    height : 100%;
    width : 100%;
}

.sweet-chart-topology-node {
}

.sweet-chart-topology-node-img {
   text-align:center;
}

.sweet-chart-topology-node-label {
   text-align:left;
}

.sweet-chart-topology-node-rect {
	border:1px solid #c0c0c0;
	background-color: #c7c7c7;
	text-align:center;
	color:#5a5a5a;
	padding:6px;
	box-shadow:inset 0 0 1px 0  #d9d9d9;
}

.sweet-chart-node-start-highlight {
	border:3px solid #1fa5fa;
	background-color: #0084d8;
	text-align:center;
	color:#fff;
	padding:6px;
	line-height:20px;
	border-bottom:1px #28bafb solid;
}

.sweet-chart-node-active{
	border:1px solid #94b3ea;
	background-color: #d9e4f6;
	text-align:center;
	color:#5a5a5a;
	padding:6px;
	box-shadow:inset 0 0 1px 0  #d9d9d9;			
}

.sweet-chart-topology-node-label {
    word-break: keep-all;
    text-overflow: ellipsis;
    overflow: hidden;
}

.sweet-chart-topology-zoom-in {
    position: absolute;
    display: block;
    cursor: pointer;
    left: 20px;
    top: 20px;
    width: 47px;
    height: 47px;
    background-image: url("images/tree/zoom-fit.gif");
}
.sweet-chart-topology-zoom-out {
    position: absolute;
    display: block;
    cursor: pointer;
    left: 20px;
    top: 20px;
    width: 47px;
    height: 47px;
    background-image: url("images/tree/zoom-act.gif");
}
/* topology end */
/* indicator start*/
.sweet-chart-indicator-div1{
    height: 21px;
    line-height: 21px;
    text-align: center;
}
.sweet-chart-indicator-color-common{
    height: 21px;
    line-height: 21px;
    text-align: center;
    cursor: pointer;
    color: #ffffff;
    font-weight: bold;
    text-shadow: 0px 2px 2px rgba(0, 0, 0, 0.5);
    box-shadow: 0 2px 2px rgba(0, 0, 0, 0.3), inset 0 6px 10px rgba(255, 255, 255, 0.3), inset 0 -3px 10px rgba(0, 0, 0, 0.2);
    background: url("images/chart/chart_texture.png") 0 0 repeat;
}
.sweet-chart-indicator-red-left{
    background-color: #EE5267;
    border-radius: 10px 0 0 10px;
    float: left;
}
.sweet-chart-indicator-red-all{
    background-color: #EE5267 ;
    border-radius: 10px 10px 10px 10px;
    float: right;
}
.sweet-chart-indicator-yellow-all{
    background-color: #F5A71B;
    border-radius: 10px 10px 10px 10px;
    float: left;
}
.sweet-chart-indicator-yellow-left{
    background-color: #F5A71B;
    border-radius: 10px 0 0 10px;
    float: left;
}
.sweet-chart-indicator-yellow-middle{
    background-color: #F5A71B;
    float: left;
}
.sweet-chart-indicator-yellow-right{
    background-color: #F5A71B;
    border-radius: 0 10px 10px 0;
    float: right;
}
.sweet-chart-indicator-green-all{
    background-color: #47A835;
    border-radius: 10px 10px 10px 10px;
    float: left;
}
.sweet-chart-indicator-green-right{
    background-color: #47A835;
    border-radius: 0 10px 10px 0;
    float: right;
}
.sweet-chart-indicator-gray-all {
    background-color: #bfbfbf;
    border-radius: 10px 10px 10px 10px;
    float: left;
}
/* indicator end*/

/* gridLegned begin */
.sweet-chart-gridlegend {
    display: block;
    position: relative;
    width: 100%;
    height: 100%;
}

.sweet-chart-gridlegend li {
    display: block;
    position: relative;
    height: 20px;
    line-height: 20px;
}

.sweet-chart-gridlegend .title {
    width: 100%;
    text-align: right;
    color: #696D7D;
}

.sweet-chart-gridlegend span {
    display: block;
    position: relative;
}

.sweet-chart-gridlegend .marker {
    float: left;
    width: 15px;
    height: 15px;
    border-radius: 2px;
    margin-top: 2px;
}
.sweet-chart-gridlegend .label {
    position: absolute;
    left: 20px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    color: #666666;
}

.sweet-chart-gridlegend .value{
    float: right;
    text-align: right;
    color: #3B3B3B;
    font-weight: bold;
}
/* gridLegned end */

/* tiles begin */
.sweet-chart-tiles {
    display: block;
    position: relative;
    width: 100%;
    height: 100%;
    overflow-y: hidden;
    overflow-x: hidden;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    padding: 5px;
}

.sweet-chart-tiles li {
    display: block;
    position: relative;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    margin-bottom: 8px;
}

.sweet-chart-tiles .title {
    width: 100%;
    height: 30px;
    line-height: 30px;
    text-align: left;
    color: #696D7D;
    margin-bottom: 0;
}

.sweet-chart-tiles .top {
    display: block;
    position: relative;
    overflow: hidden;
}
.sweet-chart-tiles .bottom {
    display: block;
    position: relative;
    height: 20px;
    overflow: hidden;
    text-shadow: rgba(0, 0, 0, 0.1) 1px 1px 0;
}

.sweet-chart-tiles span {
    display: block;
    position: relative;
}

.sweet-chart-tiles .value{
    float: left;
    font-size: 40px;
}

.sweet-chart-tiles .unit {
    float: left;
    font-size: 25px;
    padding-left: 4px;
}

.sweet-chart-tiles .label {
    clear: left;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    color: #FFFFFF;
    height: 20px;
    line-height: 20px;
    padding-left: 4px;
    float: left;
    width: calc(100% - 20px);
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.sweet-chart-tiles .corner {
    display: block;
    float: left;
    width: 0;
    height: 0;
    border-color: transparent;
    border-top-style: solid;
    border-top-width: 20px;
    border-right-style: solid;
    border-right-width: 20px;
}
/* tiles end */

/* dash line begin */
.sweet-chart-dashline {
    display: block;
    position: relative;
    font-size: 10px;
    color: #f1f1f1;
}

.sweet-chart-dashline-range-tip {
    display: block;
    position: absolute;
    width: 1px;
    height: 1px;
    background-color: blue;
    z-index: 1;
}

.sweet-chart-dashline-range-tip .tip-arrow {
    position: absolute;
    width: 0;
    height: 0;
    left: -6px;
    top: -6px;
    border-top: 6px solid #D7DAE1;
    border-bottom-width: 0;
    border-left: 6px solid transparent;
    border-right: 6px solid transparent;
}

.sweet-chart-dashline-range-tip .tip-label {
    position: absolute;
    top: -24px;
    color: #3B3B3B;
    background-color: #D7DAE1;
    font-size: 11px;
    padding: 2px 10px;
    border-radius: 2px;
    white-space: nowrap;
}
/* dash line end   */

/* supermap start*/
.sweet-supermap-mapContainer{
    position:relative;
}
.sweet-supermap-mapShowPart{
    position: absolute;
    z-index: -1;
}
.sweet-supermap-mapdiv{
    position:relative;
}

.sweet-supermap-areaListBtn{
    left:600px;
    top:0px;
}

.sweet-supermap-alertWind{
    font-size:.8em;
    opacity: 0.8;
    width:150px;
    height:50px;
}

.sweet-supermap-alertWindTitleFont{
    font-weight: bold;
    font-size: 12px;
}

.sweet-supermap-areaNamesClass{
    background-color: #2d3d63;
    opacity:0.6;
    border: 1px solid #989FAA;
    border-radius: 7px 7px 7px 7px;
    box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.3), 0 0 1px #EFEFEF inset;
    min-width: 130px;
    position: absolute;
    left:20px;
    top:200px;
    visibility: visible;

}
.sweet-supermap-subAreaNamesClass{
    background-color: #2d3d63;
    border: 1px solid #989FAA;
    border-radius: 7px 7px 7px 7px;
    box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.3), 0 0 1px #EFEFEF inset;
    min-width: 120px;
    position: absolute;
    visibility: visible;
    left: 129px;
}
.sweet-supermap-areaNamesClass a{
    text-decoration: none !important;
}

.sweet-supermap-alarmLightLengendPanelClass{
    position: absolute;
    width:450px;
    left:20px;
}

.sweet-supermap-minorLightClass{
    float:left;
}

.sweet-supermap-majorLightClass{
    float:left;
}

.sweet-supermap-menuUL{
    background-color: rgba(0, 0, 0, 0);
    border: 0 none;
    overflow: hidden;
}
.sweet-supermap-subMenuUL{
    position: absolute;
}
.sweet-supermap-menuLi{
    display: block;
    height: 24px;
    line-height: 24px;
    padding: 0 11px;
    white-space: nowrap;
}
.sweet-supermap-menuLi:hover{
    background-color:#485981;
}
.sweet-supermap-menuMouseOverLi{
    background-color:#485981;
}

.sweet-supermap-subLiAEI:hover{
     background-color:#485981;
     width:98px;
 }
a.sweet-supermap-liAEI{
    display: block;
    height: 26px;
}

.sweet-supermap-mItemArrow{
    background: url("images/map/menu.png") no-repeat scroll 90px -12px transparent;
}
.sweet-supermap-itemDefImage{
    position:relative;
    top:5px;
    margin-right:5px;
    width:16px;
}
.sweet-supermap-itemSelectedImage{
    background: url("images/map/menu.png") no-repeat scroll 0 0 transparent;
}
.sweet-supermap-itemText{
    font-size:12px;
    color:#FFF;
    height: 26px;
}
/* supermap end*/

/* fishbone start*/
.sweet-chart-fishbone-head{
    background: url("images/chart/fbone_start.gif") no-repeat scroll left center transparent;
    float: left;
    width: 100px;
    height:100px;
}
.sweet-chart-fishbone-point{
    background: url("images/chart/fishbone_point_y.gif") no-repeat scroll left center transparent;
    float: left;
    width: 100px;
    height: 100px;
}
.sweet-chart-fishbone-middle-upArrow{
    background: url("images/chart/fishbone_up_y.gif") no-repeat scroll left center transparent;
    float: left;
    width: 100px;
    height: 100px;
}
.sweet-chart-fishbone-middle-downArrow{
    background: url("images/chart/fishbone_down_y.gif") no-repeat scroll left center transparent;
    float: left;
    width: 100px;
    height: 100px;
}
.sweet-chart-fishbone-end{
    background: url("images/chart/fbone_end.gif") no-repeat scroll left center transparent;
    float: left;
    width: 50px;
    height: 100px;
}
.sweet-chart-fishbone-blank {
    background: url("images/chart/fishbone.gif") no-repeat scroll left center transparent;
    float: left;
    width: 100px;
    height: 100px;
}
.sweet-chart-fishbone-up-outLabel{
    color: #0000FF;
    font-size: 12px;
    font-weight: bold;
    height: 50px;
    line-height: 110%;
    position: relative;
    text-align: center;
    top: 10px;
    vertical-align: bottom;
}
.sweet-chart-fishbone--up-label{
    
}
.sweet-chart-fishbone-down-label{
    color: #000000;
    font-size: 12px;
    font-weight: bold;
    height: 50px;
    line-height: 110%;
    position: relative;
    text-align: center;
    top: 10px;
    vertical-align: top;
}
.sweet-chart-fishbone-upTable{
    left: -140px;
    position: relative;
    width: 300px;
    border: 1px solid #CCCCCC;
}
.sweet-chart-fishbone-downTable{
    left: -140px;
    position: relative;
    width: 300px;
    border: 1px solid #CCCCCC;
}

.sweet-chart-fishbone-midAll{
   position: absolute;
}
.sweet-chart-fishbone-widget{
    position:relative;
    overflow: auto;
}
/* fishbone end*/
