/**
 * @description sweet 假日组件样式文件
 * @date 2013/1/25
 * @version 1.0
 * @author 
 */

/***************************************忙时 begin*/
.sweet-cmp-timeschedule {
    min-width: 90px;
}

.sweet-cmp-timeschedule .checkbox {
    padding-right: 2px;
    float: left;
}

.sweet-cmp-timeschedule .button {
    float: left;
}

.sweet-cmp-timeschedule-panel {
    height: 90px;
    left: 433px;
    padding: 9px;
    position: absolute;
    top: 63px;
    width: 268px;
    -moz-user-select: none;
    z-index: 99;
    background: #d8d8d8 url(images/form/select_bg.png) 0 -166px repeat-x;
    background: -webkit-linear-gradient(top, #efefef, #d8d8d8);  
    background:-moz-linear-gradient(top, #efefef, #d8d8d8); 
    background:-ms-linear-gradient(top, #efefef, #d8d8d8); 
}

.sweet-cmp-timeschedule-panel-ul {
    background-color: #F2F2F2;
    border: 1px solid #989FAA;
    border-radius: 5px 5px 5px 5px;
    box-shadow: 0 2px 2px rgba(0, 0, 0, 0.1) inset;
    margin-bottom: 5px;
    padding: 10px 0;
    height: 60px;
    position: absolute;
    left: 5px;
    top: 5px;
    right: 5px;  
}

.sweet-cmp-timeschedule-panel-li-pic {
    float: left;
    height: 12px;
    padding: 0 7px;
}

.sweet-cmp-timeschedule-panel-li-pic li span {
    display: block;
    float: left;
    height: 12px;
    margin-right: 1px;
    width: 20px;
    cursor: pointer;
    -moz-user-select: none;
    box-shadow: inset 0 2px 3px rgba(0,0,0,0.1);
    background: #dededd;
}

.sweet-cmp-timeschedule-panel-li-pic li span:hover {
    background: none repeat scroll 0 0 #95A4BF;
}

.sweet-cmp-timeschedule-panel-li-pic li span.ui-selected {
    width:20px;
    height:12px;
    background-image:url("images/form/timebusy_bg_active.png");
    background-repeat:repeat-x;
    background-image: -webkit-linear-gradient(top, #7484a0, #475572);  
    background-image: -moz-linear-gradient(top, #7484a0, #475572);
}
.sweet-cmp-timeschedule-panel-li-pic li span.sweet-cmp-timeschedule-span {
    background-image:url("images/form/timebusy_bg_active.png");
    background-repeat:repeat-x;
    background-image: -webkit-linear-gradient(top, #7484a0, #475572);  
    background-image: -moz-linear-gradient(top, #7484a0, #475572);
}
.sweet-cmp-timeschedule-panel-li-pic li span.ui-selecting {
    height: 12px;
    width: 20px;
    background-image:url("images/form/timebusy_bg_active.png");
    background-repeat:repeat-x;
    background-image: -webkit-linear-gradient(top, #7484a0, #475572);  
    background-image: -moz-linear-gradient(top, #7484a0, #475572);
}

.sweet-cmp-timeschedule-panel-li-num {
    float: left;
    height: 22px;
    padding: 0 0 0 6px;
    width: 260px;
}

.sweet-cmp-timeschedule-panel-li-num em {
    float: left;
    height: 22px;
    width: 20px;
    -moz-user-select: none;
}
.sweet-cmp-timeschedule-textButtonDiv {
    width:100%;
    height: 100%;
}
.sweet-cmp-timeschedule-inputParent {   
    height:23px;
    width: calc(100% - 39px);
    width: -webkit-calc(100% - 39px);
    width: -moz-calc(100% - 39px);
    border-radius:5px 0px 0px 5px;
    float:left;
    padding:0px 3px 0px 0px;
    background-repeat:repeat-x;
    position: relative;
}
.sweet-cmp-timeschedule-normal {
    border:1px #989faa solid;
    background: url(images/form/select_bg.png) 0 -46px repeat-x;
    background: -webkit-linear-gradient(top, #efefef, #d8d8d8);  
    background: -moz-linear-gradient(top, #efefef, #d8d8d8);
    box-shadow: inset 0px 0px 1px rgba(255, 255, 255, 1);
}
.sweet-cmp-timeschedule-normal:hover{
    background: url(images/form/select_bg.png) 0 -69px repeat-x;
    background: -webkit-linear-gradient(top, #d8d8d8, #efefef);  
    background: -moz-linear-gradient(top, #d8d8d8, #efefef);
    box-shadow:inset 0px 0px 2px rgba(255, 255, 255, 1);
}
.sweet-cmp-timeschedule-gray {   
    border:1px solid #D7D7D7;
    background-image:url("images/form/select_box_gray_bg.png");
    background-image: -webkit-linear-gradient(top, #f8f8f8, #efefef);  
    background-image: -moz-linear-gradient(top , #f8f8f8, #efefef);
    box-shadow:inset 0px 0px 2px rgba(255, 255, 255, 1);
}
.sweet-cmp-timeschedule-input {
    width:100%;
    height:23px;
    line-height:23px;
    border:none;
    float:left;
    margin:1px;
    text-indent:4px;
    background-color:transparent;
    text-overflow: ellipsis;
}
.sweet-cmp-timeschedule-imageButton {
    width:28px;
    height:23px;
    line-height:23px;
    text-align:center;
    margin-left:1px;
    border-radius:0px 5px 5px 0px;
    font-size:18px;
    display:block;
    float:left;
    cursor: pointer;
    background-repeat:repeat-x;
}
.sweet-cmp-timeschedule-clearEl {
    margin:0px 0px 0px 2px;
    color:#0084d8;
    cursor: pointer;
    text-decoration:underline;
    position: absolute;
    bottom: 4px;
    right: 5px;
}
.sweet-form-timeschedule-textGray {
    color: #6D6D6D;
    cursor: default;
}
.ui-selectee.sweet-cmp-timeschedule-span.ui-selecting {
    background: url("images/form/timebusy_bg.png") repeat-x scroll 0 0 transparent;
    display: block;
    float: left;
    height: 12px;
    margin-right: 1px;
    width: 20px;
    cursor: pointer;
    -moz-user-select: none;
}
.sweet-form-timeschedule-emptyDiv {
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    padding: 0 7px;
    height:23px;
    line-height:23px;
    color: gray;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    word-break: keep-all;
    word-wrap: normal;
}
/***************************************忙时 end*/
/**
 * @description sweet 假日组件样式文件
 * @date 2012/12/15
 * @version 1.0
 * @author 
 */

/***************************************假日组面板 begin*/
.sweet-cmp-holiday {
    min-width: 1200px;
}
/***************************************假日组面板 end*/
/**
 * @description sweet 双向选择面板
 * @date 2013/02/26
 * @version 1.0
 * @author 
 */

/**************************业务组件-双向选择面板 begin*/
.sweet-cmp-listWin-element{
    background-color: transparent;
    border: medium none;
    float: left;
    height: 20px;
    line-height: 20px;
    margin: 1px;
    text-indent: 4px;
    width: 125px;
}
.sweet-cmp-listwin-parentEl{
    background-image: -moz-linear-gradient(center top , #EFEFEF, #D8D8D8);
    background-repeat: repeat-x;
    border: 1px solid #989FAA;
    border-radius: 5px 0 0 5px;
    box-shadow: 0 0 1px #FFFFFF inset;
    float: left;
    height: 23px;
    padding: 0 3px;
}
.sweet-cmp-listwin-arrow{
    background-image: -moz-linear-gradient(center top , #EFEFEF, #D8D8D8);
    background-repeat: repeat-x;
    border: 1px solid #989FAA;
    border-radius: 0 5px 5px 0;
    box-shadow: 0 0 1px #FFFFFF inset;
    display: block;
    float: left;
    height: 23px;
    line-height: 23px;
    margin-left: 1px;
    text-align: center;
    width: 28px;
}
.sweet-cmp-listwin-seletMore{
    height: auto;
    padding: 10px;
    width: auto;
    z-index: 3;
}
.sweet-cmp-listwin-selectBg{
    background-color: #D8D8D8;
    background-image: -moz-linear-gradient(center top , #EFEFEF, #D8D8D8);
    background-repeat: repeat-x;
    border: 1px solid #989FAA;
    border-radius: 5px 5px 5px 5px;
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3), 0 0 1px #FFFFFF inset;
}
.sweet-cmp-listwin-title{
    color: #384967;
    font-weight: bold;
    font-size: 13px;
    margin-bottom: 5px;
    display: inline-block;
}
.sweet-cmp-listwin-content{
    height: auto;
}
.sweet-cmp-listwin-select{
    margin: 0 10px;
    width: 60px;
    height: 140px;
}
.sweet-cmp-listwin-select .sweet-cmp-listwin-select_btn {
    display: block;
    font-family: SimSun;
}
.sweet-cmp-listwin-select-tree{
    margin: 60px 10px 0;
    width: 60px;
}
.sweet-cmp-listwin-select-tree .sweet-cmp-listwin-select_btn {
    display: block;
    font-family: SimSun;
}
.sweet-cmp-listwin-select a{
    display: block;
    float: left;
    height: 16px;
    width: 16px;
}
.sweet-cmp-listwin-select-tree a{
    display: block;
    float: left;
    height: 16px;
    width: 16px;
}
.sweet-cmp-listwin-select_btn {
    width: 60px;
    border-radius: 5px;
    height: 25px;
    text-align: center;
    border: 1px #76849f solid;
    background: url(../images/form/btn_bg.png) 0 -92px repeat-x;
    background: -webkit-linear-gradient(top, #fefefe, #cbcbcb);
    background: -moz-linear-gradient(top, #fefefe, #cbcbcb);
    box-shadow: inset 0px 0px 1px rgba(238, 238, 240, 1);
    text-shadow: #FFF 1px 1px 0px;
    color: #3d3d3d;
    font-size: 12px;
    cursor: pointer;
    margin: 0 auto 5px auto;
}
.sweet-cmp-listwin-select_btn:hover{
    border:	1px #7ea0c7 solid;
    background:url(../images/form/btn_bg.png)  0 -138px repeat-x;
    background: -webkit-linear-gradient(top, #fff, #dce7ec);  
    background: -moz-linear-gradient(top, #fff, #dce7ec);
    box-shadow:inset 0px 0px 1px rgba(211, 248, 229, 1);
    color:#425fb3;
    text-shadow:#FFF 1px 1px 0px; 
}
.sweet-cmp-listwin-select_btn:active{
    border:	1px #7ea0c7 solid;
    background:url(../images/form/btn_bg.png)  0 -161px repeat-x;
    background: -webkit-linear-gradient(top, #e1e1e1, #fff);  
    background: -moz-linear-gradient(top, #e1e1e1, #fff);
    box-shadow:inset 0px 0px 1px rgba(238, 240, 239, 1);
    color:#3d3d3d;
    text-shadow:none;
}
.sweet-cmp-listwin-select-right{
    background: url("../core/images/form/module_icon.png") no-repeat scroll right 0 transparent;
    margin-bottom: 5px;
}
.sweet-cmp-listwin-select-left{
    margin-bottom: 30px;
}
.sweet-cmp-listwin-select-allRight{
    background: url("../core/images/form/module_icon.png") no-repeat scroll right -40px transparent;
    margin-bottom: 5px;
}
.sweet-cmp-listwin-select-allLeft{
    background: url("../core/images/form/module_icon.png") no-repeat scroll right -60px transparent;
}
.sweet-cmp-listwin-select-content{
    background-color: #F2F2F2;
    border: 1px solid #989FAA;
    border-radius: 5px 5px 5px 5px;
    box-shadow: 0 2px 2px rgba(0, 0, 0, 0.1) inset;
    margin-bottom: 5px;
    overflow : auto;
}
.sweet-cmp-listwin-search-box{
    margin-bottom: 5px;
}
.sweet-cmp-listwin-bottom{
    float: right;
}
.sweet-cmp-listwin-con{
    background-color: #F2F2F2;
    border: 1px solid #989FAA;
    border-radius: 5px 5px 5px 5px;
    box-shadow: 0 2px 2px rgba(0, 0, 0, 0.1) inset;
    margin-bottom: 5px;
    padding: 10px 0;
}
.swwet-cmp-listwin-butt{
    float: right;
    margin: 5px 5px 5px 0
}
.sweet-cmp-listWin-float-bg {
    /*background-color: #D8D8D8;
    background-image: -moz-linear-gradient(center top , #EFEFEF, #D8D8D8);*/
    background-repeat: repeat-x;
    border: 1px solid #989FAA;
    border-radius: 5px 5px 5px 5px;
    background-color: #F2F2F2;
    box-shadow: 0 2px 2px rgba(0, 0, 0, 0.1) inset;
}
/**************************业务组件-双向选择面板 end*/

/**************************业务组件-二次统计 start*/
.sweet-cmp-stat-title{
    color: #384967;
    font-weight: bold;
    font-size: 13px;
    margin-bottom: 2px;
    display: inline-block;
}
.sweet-cmp-stat-window .list-select:hover {
    background-color: #dcdbdb;
}
/**************************业务组件-二次统计 end*/

.sweet-cmp-optimizelist-div-middle
{
    width : 160px;
    min-width : 160px;
    /*border: 1px solid black;*/
}

.sweet-cmp-optimizelist-div-main
{
    /*border: 1px solid red;*/
    height: 100%;
}

.sweet-cmp-optimizelist-div-main div
{
    float: left;
}

.sweet-cmp-optimizelist-div-left
{
    /*border: 1px solid black;*/
    height: 100%
}

.sweet-cmp-optimizelist-div-right
{
    /*border: 1px solid black;*/
    height: 100%;
}

.sweet-cmp-listwindowv1-title{
    color: #384967;
    font-weight: bold;
    font-size: 13px;
    margin-bottom: 2px;
    display: inline-block;
}
.sweet-cmp-listwindowv1-lpanel,.sweet-cmp-listwindowv1-mpanel,.sweet-cmp-listwindowv1-rpanel{
    float: left;
}

.sweet-cmp-listwindowv1-btnpanel{
    margin-left: 10px;
    margin-right: 10px;
}



.sweet-cmp-treewindow-title{
    height: 13px;
    color: #384967;
    font-weight: bold;
    font-size: 13px;
    margin-bottom: 2px;
    display: inline-block;
}
.sweet-cmp-treewindow-lpanel,.sweet-cmp-treewindow-mpanel,.sweet-cmp-treewindow-rpanel{
    float: left;
}

.sweet-cmp-treewindow-btnpanel{
    margin-left: 10px;
    margin-right: 10px;
}

.sweet-cmp-officedirectionv1-lpanel,.sweet-cmp-officedirectionv1-mpanel,.sweet-cmp-officedirectionv1-rpanel{
    float: left;
}
.sweet-cmp-officedirectionv1-btnpanel{
    margin-left: 5px;
    margin-right: 5px;
}
.sweet-cmp-officedirectionv1-combobox, .sweet-cmp-officedirectionv1-title{
    margin-bottom: 5px;
}
.sweet-cmp-officedirectionv1-tree{
    margin-bottom: 10px;
}
.sweet-cmp-officedirectionv1-listbody{
    background-color: #F2F2F2;
}
.sweet-cmp-officedirectionv1-listbody .sweet-list-optimizelist-body-border{
    border-radius: 5px 5px 5px 5px;
}
/**
 * @description sweet app管理面板
 * @date 2014/10/9
 * @version 1.0
 * @author 
 */

/**************************业务组件-app管理面板 begin*/

.sweet-cmp-app-container {
    overflow: auto;
}

.sweet-cmp-app-item {
    float: left;
    border: solid 1px #787878;
    background-color: #dadada;
    margin-left: 20px;
    margin-top: 20px;
}

.sweet-cmp-app-item-over {
    float: left;
    border: solid 1px #66AFE9;
    background-color: #dadada;
    margin-left: 20px;
    margin-top: 20px;
    cursor: pointer;
}

.sweet-cmp-app-content {
    overflow:hidden;
    width : 100%;
    height : 100%;
}

.sweet-cmp-app-img-container {
    width: 96px;
    height: 96px;
    margin: 15px 52px;
}

.sweet-cmp-app-img {
    width: 96px;
    height: 96px;
    display: block;
}

.sweet-cmp-app-text {
    text-align: center;
    color: #000000;
    font-size: 2em;
    padding-bottom: 15px;
    overflow: hidden;
    text-overflow: ellipsis;
}

.sweet-cmp-app-state-text {
    text-align: center;
    color: #ffffff;
    font-size: 2em;
    background-color: #486080;
    line-height: 80px;
}

.sweet-cmp-app-opertor {
    height: 80px;
    color: #ffffff;
    font-size: 1em;
    background-color: #486080;
}

.sweet-cmp-app-action {
    cursor: pointer;
    text-align: left;
    color: #ffffff;
    font-size: 1.5em;
    line-height: 1.5em;
    float: left;
    margin-left: 25px;
    margin-top: 8px;
    overflow: hidden;
    text-overflow: ellipsis;
    width : 75px;
}

.sweet-cmp-app-action:hover {
    color: #3399FF;
}